@for $i from 1 through 4 {
  
    .col-#{$i} {
        width: 25%;
        margin: 20px 0px 50px 0px;

        p {
            font-size: $font-gral-size - 5;
        }
    }
  }


  $colors: (pink, blue, green, purple);

  @each $color in $colors {
  
    .color-#{$color} {
        background-color: $color;
    }
  }